{% extends 'base.html' %}

{% block title %}
E-COMMERCE Create_Product
{% endblock %}

{% block content %}
<h1>Productos legales</h1>
<h4>Registro de productos</h4>

<form action="" method="post">
    {% csrf_token %}
    <div class="form-group row col-md-6">
        {{form}}
        <div class="text-center">
            <button class="btn btn-primary mt-3" type="submit">GUARDAR</button>
            <!-- <a href="{% url 'product' %}">
                <button class="btn btn-primary mt-3">CANCELAR</button>
            </a> -->
        </div>
    </div>

</form>

{% endblock %}