{% extends 'base.html' %}

{% block title %}
E-COMMERCE Products
{% endblock %}

{% block content %}
<h1 class="text-center display-2 text-dark mb-5 mt-3">Productos legales</h1>
<div class="table-responsive">

    <table class="table mt-3 table-striped">
        <tr>
            <!-- <td>ID</td> -->
            <td>NAME</td>
            <td>PRICE</td>
            <td>STOCK</td>
            <td>DESCRIPTION</td>
            <td>BRAND</td>
            <td></td>
        </tr>
        {% for p in products %}
        <tr>
            <!-- <td>{{p.id}}</td> -->
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.stock}}</td>
            <td>{{p.description}}</td>
            <td>{{p.brand}}</td>
            <td>
                <div class="d-flex gap-1">
                    <div>
                        <a href="{% url 'update_product' p.id %}" class="btn btn-warning">
                            <i class="bi bi-brush d-flex align-items-center" style="font-size: 1.5em;"></i>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'delete_product' p.id %}" class="btn btn-danger">
                            <i class="bi bi-clipboard-x"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}