{% extends 'base.html' %}

{% block title %}
E-COMMERCE Products
{% endblock %}

{% block content %}
<h1 class="text-center display-2 text-dark mb-5 mt-3">Productos legales</h1>
<div class="table-responsive">

    <table class="table mt-3 table-striped">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>PRICE</td>
            <td>STOCK</td>
            <td>DESCRIPTION</td>
            <td>BRAND</td>
        </tr>
        {% for p in products %}
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.stock}}</td>
            <td>{{p.description}}</td>
            <td>{{p.brand}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}